<!-- Begin SEO tag -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ post.title | page.title | site.title | default: site.github.repository_name | smartify }}">
<meta property="og:title" content="{{ post.title | page.title | site.title | default: site.github.repository_name | smartify }}">
<meta property="og:description"
  content="{{ post.description | page.description | site.description | default: site.github.project_tagline | smartify }}">
<meta property="og:url" content="{{ site.url | site.github.owner_url | absolute_url }}">
<meta property="og:url" content="{{ page.url | site.github.owner_url | absolute_url }}">
<meta property="og:tags" content="{{ page.tags }}">
<meta property="og:image" content="{{ '/assets/images/favicon.png' | absolute_url }}">
<meta property="og:image:alt" content="Architect is a theme for Github NguyenQuy.">

<meta property="twitter:title" content="Github NguyenQuy">
<!-- End SEO tag -->