<!-- Begin SEO tag -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="Github NguyenQuy">
<meta property="og:title" content="Github NguyenQuy">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="{{ site.url | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:description" content="Architect is a theme for Github NguyenQuy.">
<meta property="og:tags" content="{{ page.tags | array_to_sentence_string, sort }}">
<meta property="og:image" content="{{ '/assets/images/favicon.png' | absolute_url }}">
<meta property="og:image:alt" content="Architect is a theme for Github NguyenQuy.">

<meta property="twitter:title" content="Github NguyenQuy">
<!-- End SEO tag -->